.base {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 11px;
    transition: 1s;
}
.mus_and_weath {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.weather {
    gap: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    padding: 10px 6px;
}
.weather_input {
    display: flex;
    flex-direction: column;
}
.temper_and_descript {
    display: flex;
    justify-content: space-around;
}
.hum_and_wind {
    display: flex;
    flex-direction: column;
}
.humidity {
    display: flex;
    flex-direction: row;
}
.change_degree {
    border: none;
    border-radius: 5px;
    border-color: rgba(255,255,255,0.1) ;
}
.wind_speed {
    display: flex;
}
.time {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    padding: 0 12px;
}
.today_container {
    display: flex;
    flex-direction: row;
    font-size: 45px;
    width: 90%;
    justify-content: space-between;
}
.day {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 800px;
}  
.greetings_container {
    display: flex;
}
.greetings {
    display: flex;
    font-size: 38px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.arrow_left,
.arrow_right {
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    color: white;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    padding: 5px 0;
 }  
.arrow_left :hover {
    transition: 0.5s;
    transform: scale(1.5, 1.5);
 }
.arrow_right :hover {
    transition: 0.5s;
    transform: scale(1.5, 1.5);
}
.changeTime {
    cursor: pointer;
    transition: 1s;
    height: 30px;
    width: 60px;
    border-radius: 8px;
    background-color: transparent;
    background-color: rgba(255,255,255,0.5);
}
.changeTime:hover {
    transition: 0.5s;
    transform: scale(1.5, 1.5);
    background-color: gray;
}
.name {
    background-color: transparent;
    border: none;
    font-size: 38px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.whiteLayer {
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    padding: 0 12px;
}
.town {
    background-color: rgba(255,255,255,0.1);
    border: none;
}

